.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 70px;
  padding: 20px;
}

.logo {
  width: 100px;
  height: auto;
}

.navbarUl {
  display: flex;
  list-style: none;
}

.navbarLI {
  margin: 0 20px;
}

.navbarLI a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.navbarLI a:hover {
  color: #f9a3a3;
}
